---
import { Image } from 'astro:assets'
interface Props {
    link: string
    img: any
    desc: string
    name: string
}
const { link, img, desc, name } = Astro.props

---

<div class="max-w-sm w-80 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 hover:scale-110 transition duration-200"> 
<a href={link} target="_blank">
        <Image class="h-40" src={img} alt={name} />

</a>
</div>
