<footer class="bg-slate-600 mt-auto py-5">
    <div class="flex flex-col mx-auto text-white">
        <h3 class="text-center">Contactame :]</h3>
        <ambién class="text-center mb-4">También puedes seguirme en mi Linkedin!</p>
        <div class="flex justify-center mt-4">
            <a class="transition duration-200 ease-in hover:text-slate-100 hover:bg-slate-200 bg-slate-50 text-slate-600 rounded-full p-2 cursor-pointer mr-4" href="https://www.linkedin.com/in/germ%C3%A1n-astudillo-9803b01ba/" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
  <path d="M8 11l0 5" />
  <path d="M8 8l0 .01" />
  <path d="M12 16l0 -5" />
  <path d="M16 16v-3a2 2 0 0 0 -4 0" />
</svg></a>
        </div>
    </div>
</footer>

