  ---
import { Image } from "astro:assets";
import dev from "../assets/developer.png";

import cv from "../assets/German_Astudillo_CV.pdf";
  ---
  
  
  
  <div
    class="mt-10 flex flex-col lg:flex-row lg:ml-96 lg:p-10 md:ml-0 sm:ml-0 sm-p-10 px-4 animate-expand-vertically"
  >
    <div class="w-full lg:w-1/3">
      <h1 class="text-3xl text-center text-slate-700 font-semibold">
        춰Bienvenid@ a mi Portfolio! 游놑
      </h1>
      <br />
      <br />
      <p class="text-2xl font-semibold text-slate-700">Soy Germ치n Astudillo.</p>
      <p class="text-xl text-slate-600">Desarrollador Fullstack</p>
      <br />

      <p class="text-base text-slate-700">
  Mi experiencia abarca el desarrollo completo de diversas aplicaciones, desde p치ginas web din치micas hasta soluciones de automatizaci칩n, utilizando un enfoque 치gil y adaptativo. Me especializo en el uso de una variedad de tecnolog칤as de vanguardia, entre las que destacan Python y JavaScript, junto con su amplio ecosistema de frameworks y bibliotecas.

En el 치mbito de las bases de datos, cuento con experiencia tanto en sistemas relacionales como en NoSQL, lo que me permite dise침ar y gestionar eficientemente el almacenamiento y recuperaci칩n de datos, garantizando un rendimiento 칩ptimo y una escalabilidad adecuada para cada proyecto.
      </p>
      <br />
      <p class="text-base text-slate-700">
Adem치s, estoy comprometido con la mejora continua y la adopci칩n de las mejores pr치cticas de desarrollo, lo que me permite mantenerme actualizado con las 칰ltimas tendencias y tecnolog칤as emergentes. Esto garantiza que cada proyecto se beneficie de las soluciones m치s innovadoras y eficientes disponibles en el mercado.
      </p>
      <br />
      <a
        class="lg:text-lg md:text-lg sm:text-sm  bg-slate-500 h-10 p-4 rounded-md hover:bg-slate-400 transition duration-200 ease-in"
        href={cv}
        download="German_Astudillo_CV.pdf">Descarga mi CV</a
      >

      <a
        class="lg:text-lg md:text-lg sm:text-sm bg-slate-500 h-10 p-4 rounded-md hover:bg-slate-400 transition duration-200 ease-in"
        href="/contact">Enviame un mensaje
        </a
      >
    </div>
    <div class="w-full lg:w-1/3 flex justify-center">
      <Image
        src={dev}
        class="lg:w-[400px] md:w-1/2 sm:w-1/3 transition-hover duration-200 rounded-full lg:block md:block sm:hidden"
        alt="developer-image"
      />
    </div>
  </div>